@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    color: #212427;
    transition: 100ms all ease-in-out;
    flex-shrink: 0;
    border: none;
}

button svg {
    pointer-events: none;
}

:root {
    font-size: 15px;
}

body {
    font-family: 'Roboto', 'Lato', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 100px 1fr;
    color: #212427;
}

body.disabled {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

svg {
    height: 1.3em;
    position: relative;
    fill: #212427;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 1px 0 4px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: #fff;
}

header svg, button.sidebar-item svg {
    top: -0.05em;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 16px;
    background-color: #fafafa;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    height: calc(100vh - 100px);
    overflow: auto;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button.sidebar-item {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #212427;
}

button.sidebar-item:hover, button.sidebar-item.active {
    background-color: #f0f0f0;
}

.sidebar-header {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

button.sidebar-item.add-project {
    visibility: hidden;
    justify-content: center;
    transition: all 50ms ease-in-out;
    font-size: 0.9rem;
}

.project-list:hover button.sidebar-item.add-project, button.sidebar-item.add-project:hover {
    visibility: visible;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    background-color: #fefefe;
    height: calc(100vh - 100px);
    overflow: auto;
}

.page {
    padding: 1.5rem 3rem;
    height: 100%;
    overflow: auto;
}

main .pg-top-section {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

.project-desc {
    margin-top: 0.5rem;
    opacity: 0.9;
    padding-left: 0.2rem;

    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.project-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-buttons button {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.4rem 0.5rem;
    opacity: 0.8;
    background-color: inherit;
}

.project-buttons button:hover {
    opacity: 1;
    color: #000;
    background-color: #f0f0f0;
}

.todo-title:not(input), .todo-desc:not(textarea), .todo-date:not(input) {
    pointer-events: none;
}

.project, .todo-title, .todo-desc, .section-header, .project-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-item {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 4fr 1fr;
    grid-template-rows: 1.5rem auto auto;
    row-gap: 0.15rem;
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
}

/* .todo-item + .todo-item {
    padding-top: 1rem;
} */

.todo-checkbox {
    display: block;
    grid-template: 1 / 2;
    margin: 0 1rem;
}

.todo-title {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.todo-buttons {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: none;
    justify-content: flex-end;
    gap: 0.5rem;
}

.icon-button, button.add-todo {
    border: none;
    height: 1.5rem;
    border-radius: 4px;
    padding: 2px;
    background-color: transparent;
}

.icon-button:hover {
    background-color: #f0f0f0;
}

.icon-button > svg {
    height: 100%;
    width: 100%;
}

.todo-item:hover .todo-buttons {
    display: flex;
}

.todo-desc, .todo-date {
    grid-column: 2 / -1;
}

.todo-desc {
    opacity: 0.8;
}

.todo-date {
    font-size: 0.9rem;
}

.todo-date:not(input) {
    margin-top: 0.25rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
}

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 2px;
}

input[type="checkbox"]:checked {
    background-color: #212427;
}

.checkmark, .checkmark::after {
    pointer-events: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: -0.18rem;
    left: 1.1rem;
    display: none;
    height: 25px;
    width: 25px;
}

.checkmark::after {
    position: absolute;
    display: none;
    content: "✓";
    top: 0.3rem;
    color: #ffffff;
    font-weight: bold;
}

input[type="checkbox"]:checked + .checkmark::after, input[type="checkbox"]:checked + .checkmark {
    display: inline;
}

button.add-todo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    color: #555;
    width: 100%;
}

button.add-todo, button.add-todo * {
    transition: 100ms all ease;
}

button.add-todo:hover {
    color: inherit;
}

button.add-todo svg {
    border-radius: 50%;
    height: 1.55em;
}

button.add-todo:hover svg {
    fill: #fff;
    background-color: #212427;
}

.section + .section {
    margin-top: 1rem;
}

.section-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 1.1rem;
}

.section-header * {
    display: flex;
    align-items: center;
}

.section-header span {
    padding-left: 1rem;
    font-weight: 700;
}

.section-header button {
    border: none;
    padding: 0.1rem;
    border-radius: 4px;
    background-color: transparent;
}

.delete-section {
    visibility: hidden;
}

.section-header button:hover {
    background-color: #f0f0f0;
}

.section-header:hover .delete-section {
    visibility: visible;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 5;
}

.dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem;
    background-color: #fff;
    width: 60%;
    height: 50%;
    overflow: auto;
}

.overlay, .dialog {
    pointer-events: all;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: initial;
    -webkit-user-drag: initial;
}

.dialog > .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

button.close-popup {
    background-color: inherit;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.close-popup:hover {
    background-color: #f0f0f0;
}

.popup-body > .todo-desc {
    white-space: initial;
}

.popup-body {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.7rem;
    padding-left: 1rem;
}

.popup-body .todo-checkbox {
    margin-left: 0;
}

.popup-body .checkmark {
    left: 0.1rem;
}

.popup-body .todo-desc, .popup-body .date, .popup-body .buttons {
    grid-column: 1 / -1;
}

input[type="text"], textarea {
    border: none;
    outline: none;
    color: #212427;
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

textarea.todo-desc {
    font-weight: 400;
    font-size: 1rem;
    opacity: 1.0;
    height: 100px;
    overflow: auto;
    resize: none;
}

.popup-body label {
    font-size: 1.1rem;
}

.date, .select-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.date .todo-date {
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    font-family: 'Lato', 'Roboto', 'Helvetica', sans-serif;
    font-family: sans-serif;
    color: #212427;
    outline-color: none;
    border: 1px solid #212427;
    border-radius: 4px;
}

.date .todo-date:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.select-buttons {
    margin-top: 0.2rem;
    gap: 0.7rem;
}

.priority-button {
    background-color: inherit;
    --font-color: #fff;
    --theme-color: #f0f0f0;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

.low {
    --theme-color: #336f96;
}

.mid {
    --theme-color: #30b04d;
}

.high {
    --theme-color: #de1b1b;
}

.priority-button.selected {
    background-color: var(--theme-color);
    color: var(--font-color);
}

.priority-button, .confirm {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
}